<div class="page-header">
  <h1 class="page-title">Add Sale Staff</h1>
</div>
<div class="page-content">
  <div class="panel">
    <div class="panel-body">
      <%= form_for(@user,url: (@user.new_record? ? user_index_path : user_path), html: {class: "form-horizontal", id: "staff_form"}) do |f| %>
          <% if @user.errors.any? %>
            <div class="alert dark alert-danger alert-dismissible">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :name, class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email, class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>

          <% if @user.new_record? %>
            <div class="form-group">
              <%= f.label :password, class: "col-md-3 control-label" %>
              <div class="col-md-9">
                <%= f.password_field :password, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: "col-md-3 control-label" %>
              <div class="col-md-9">
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div>
          <%end%>

          <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
                  <%= f.submit (@user.new_record? ? "Submit" : "Update"), class: "btn btn-primary", id: "validateButton" %>
                   <%= link_to 'Back', user_index_path, class: "btn btn-primary", method: "get" %>
              </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#staff_form').formValidation({
      framework: "bootstrap",
      button: {
        selector: '#validateButton',
        disabled: 'disabled'
      },
      icon: null,
      fields: {
        "user[name]": {
          validators: {
            notEmpty: {
              message: 'The name is required and cannot be empty'
            }
          }
        },
        "user[email]": {
          validators: {
            notEmpty: {
              message: 'The email address is required and cannot be empty'
            },
            emailAddress: {
              message: 'The email address is not valid'
            }
          }
        },
        <% if @user.new_record? %>
        "user[password]": {
          validators: {
            notEmpty: {
              message: 'The password is required and cannot be empty'
            },
            stringLength: {
              min: 8,
              message: 'Password is too short (minimum is 8 characters)'
            },
            identical: {
              field: "user[password_confirmation]",
              message: 'The password and its confirm are not the same'
            }
          }
        },
        "user[password_confirmation]": {
          validators: {
            notEmpty: {
              message: 'The password confirmation is required and cannot be empty'
            },
            stringLength: {
              min: 8,
              message: 'Password is too short (minimum is 8 characters)'
            },
            identical: {
              field: "user[password]",
              message: 'The password and its confirm are not the same'
            }
          }
        }
        <%end%>
      }
    });
  })
</script>